@mixin setPadding() {
  padding-top: $padding;
  padding-bottom: $padding;
}

$red: #F03428;
$gray: #aaa;
$gray_hover: #555;
$dimImgMsg: 50px;
$padding: 10px;

html {
  padding:0px;
  margin:0px;
  height: 100%;

  body {
    @extend html;

    .container {
      height: 100%;

      #navbar {
        height: 15%;

        .navtop {
          @include setPadding();
          list-style: none;
          padding-left: 5%;
          margin: 0px;
          width: 100%;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: $gray;

          li {
            display: inline;
            text-align: center;

            a {
              width: 30%;
              color: $gray;
              text-decoration: none;
            }

            a:hover {
              text-decoration: none;
              color: $gray_hover;
              background: transparent;
              border-width: 0px;
            }
          }

          .active {
            a {
              border-width: 0px;
              color: $red;
            }

            a:hover {
              text-decoration: none;
              border-width: 0px;
              color: $red;
            }
          }
        }
      }

      .tab-content {
        height: 85%;

        #home {
          height: 100%;

          #currentProfile {
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            border-color: $gray;
            height: 75%;
            padding:1%;

            div {
              text-align: center;
              width: 100%;
              height: 100%;

              .image {
                text-align: center !important;
                width: 100%;
                height: 80%;
                @media (orientation:portrait) {
                  img {
                    height: auto;
                    max-width: 100%;
                  }
                }

                img {
                  margin-left: auto;
                  margin-right: auto;
                  width: auto;
                  max-height: 100%;
                }

              }
            }

          }

          .choice {
            @include setPadding();
            text-align: center;
            height:25%;
            width: 100%;

            div {
              float:left;
              width: 50%;

              a {
                color: $red;
                text-decoration: none;
              }

              a:hover {
                text-decoration: none;
                color: $gray_hover;
              }
            }
          }
        }

        #messages {
          height: 100%;

          .msgList {
            height: 100%;
            overflow: auto;

            .msgUser {
              @include setPadding();
              height: $dimImgMsg + 2*$padding;
              border-bottom-style: solid;
              border-bottom-width: 1px;
              border-bottom-color: $gray;

              .msgImg {
                width: $dimImgMsg + 2*$padding;
                float: left;
                text-align: center;

                img {
                  border-radius: $dimImgMsg;
                  width: $dimImgMsg;
                  height: $dimImgMsg;
                }
              }

              .msgImg:after {
                clear:both;
              }

              .msgInfo {
                width: auto;

                div {
                  .msgPseudo {
                    font-size: 1.25em;
                    font-weight: bold;
                  }

                  .msgContent {
                    width: 100%;
                  }
                }
              }
            }

            .msgUser:hover {
              background-color: $gray;
              cursor:pointer;
            }
          }
        }
      }
    }

    #modalLogin {
      background: rgba(240, 52, 40, 0.75);;

      .modal-dialog {
        .modal-content {
          .modal-header {
            span {
              color: $red;
              font-size: 2em;
            }
          }

          .modal-body {
            text-align: left;

            p {
              font-size: 1.5em;
            }

            .input-group {
              @include setPadding();

              .input-group-addon {
                span {
                  width:20px;
                }
              }
            }
          }


          .modal-footer {
            .button-group {
              float:right;

              button {
                span {
                  width: 20px;
                  font-size: 1.5em;
                }
              }
            }
          }
        }
      }
    }

    #modalProfil {
      height: 100%;

      .modal-dialog {
        height: 100%;
        margin-top :0px;
        margin-bottom: 0px;
        @include setPadding();

        .modal-content {
          height: 100%;

          .modal-header {
            min-height: 40%;
            padding: 0px;
            text-align: center;

            @media (orientation:portrait) {
              img {
                height: auto;
                max-width: 100%;
              }
            }

            img {
              width: auto;
              max-width: 100%;
              max-height: 100%;
              //height: 50px;
            }
          }

          .modal-body {
            span {
              font-size: 1.25em;
            }
          }

          .modal-footer {
            height: auto;
            max-height: 100%;
            overflow: visible;
            padding-left: 0px;
            padding-right: 0px;

            p {
              padding-right: 20px;
              padding-left: 20px;
            }

            .choice {
              @include setPadding();
              text-align: center;
              position: fixed;
              bottom: 20px;
              width: 100%;

              div {
                float:left;
                width: 33%;

                a {
                  color: $red;
                  text-decoration: none;
                }

                a:hover {
                  text-decoration: none;
                  color: $gray_hover;
                }
              }
            }
          }
        }
      }
    }

    #modalTchat {
      // height: 100%;

      .modal-dialog {
        // height: 100%;
        margin-top :0px;
        margin-bottom: 0px;
        @include setPadding();

        .modal-content {
          height: 100%;

          .modal-header {
            height: $padding*2 + $dimImgMsg;
            padding: $padding;

            span {
              font-size: 1.25em;
              font-weight: bold;
            }

            img {
              margin-right: $padding;
              width: $dimImgMsg;
              height: $dimImgMsg;
              border-radius: $dimImgMsg;
            }
          }

          .modal-body {
            padding: $padding;
            min-height: 200px;
            max-height: 400px;
            overflow: auto;

            div {
              // max-width: 75%;
              width: 100%;
              font-size: 1.25em;
              border-radius: 5px;
              padding: 5px;

            }

            div:after {
              clear:both;
            }

            .msgAuth {
              text-align: right;
              color: $gray;
            }


            .msgDest {
              text-align: left;
            }
          }

          .modal-footer {
            padding: $padding;

            input[type="text"] {
            float: left;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
